.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #5e5e5e;
  font-size: 1rem;
  font-weight: 600;
}

.breadcrumbs-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.breadcrumbs-container a {
  color: #5e5e5e;
  text-decoration: none;
  transition: 0.3s;
}

.breadcrumbs-container a:hover {
  color: #388e3c;
  text-decoration: underline;
}