.item {
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.item-image {
  display: flex;
  justify-content: center;
}

.item-image img {
  width: 95%;
  object-fit: cover;
  border-radius: 10px;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-details a {
  color: #282c34;
  text-decoration: none;
}

.item-details a:hover {
  color: #ff4141;
}

.item-details h3 {
  font-size: 1.2rem;
  margin: 10px 0;
  text-align: left;
}

.item-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-price-old {
  text-decoration: line-through;
  color: #8c8c8c;
}

.item-price-new {
  font-size: 1.5rem;
  color: #374151;
}

.item-details p {
  font-size: 1.2rem;
  margin: 10px 0;
}

.item-details button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f1356d;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}