.shop-category {
  max-width: 2000px;
  width: 95%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shop-category-banner {
  display: block;
  width: 100%;
  margin: 2rem auto;
}

.shop-category h2 {
  font-size: 2.5rem;
  margin: 2rem auto;
  text-align: center;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}

.shop-category-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 2rem auto;
}

.shop-category-sort-count {
  padding: .625rem 1.25rem;
  border: 1px solid #888;
  border-radius: 2.5rem;
}

.shop-category-sort-count p span {
  font-weight: bold;
}

.shop-category-products {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem auto;
}

.shop-category-load-more {
  width: 235px;
  height: 70px;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-category-load-more button {
  width: 100%;
  height: 100%;
  background-color: #ededed;
  color: #787878;
  border: none;
  border-radius: 2.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color .3s;
}

.shop-category-load-more button:hover {
  background-color: #dcdcdc;
}