.navbar {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 200;
}

.navbar-logo {
  width: 200px;
}

.navbar-profile {
  width: 70px;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-logo {
    width: 150px;
  }

  .navbar-profile {
    width: 50px;
  }
}